@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font;
  src:"../public/assets/fonts/RedHatText-VariableFont_wght.ttf";
}
*{
  box-sizing: border-box;
  font-family: font;
}